<div style="background-color: #0d2321;">
<mdb-carousel [animation]="'slide'">
  <mdb-carousel-item >
    <app-review-card [message]="'Great Stories for kids'" [name]="'Natasha'" [description]="'Mother'" style="width: 100%;" ></app-review-card>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <app-review-card [message]="'Best place to buy stories from'" [name]="'Mike'" [description]="''" style="width: 100%;" ></app-review-card>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <app-review-card [message]="'My favorite stories shop, I always buy from here'" [name]="'James'" [description]="'Schoolboy'" style="width: 100%;" ></app-review-card>
  </mdb-carousel-item>
</mdb-carousel>
</div>
