<!-- <div style="background-color: #0d2321;"> -->
<div class="bg-yellow" >
<mdb-carousel [animation]="'slide'">
  <mdb-carousel-item >
    <app-review-card [message]="'This book is a beautiful and fun story that lights my sense of adventure, imagination and touches on aspects of self-discovery and companionship. The illustrations really capture the magic for me. Thank you Polina and Prema'" [name]="'Bernard'" [description]="'38'" style="width: 100%;" ></app-review-card>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <app-review-card [message]="'I just read your book and I really really really like it. They are really good pictures. I think it is really smart how it was stuck in the mud but in the end it got both things and the rhyming was really smart.'" [name]="'Josie'" [description]="'8'" style="width: 100%;" ></app-review-card>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <app-review-card [message]="'A sweet, educational book for all ages, to learn how to navigate the world in a heart-centred way. My daughter loved the book from the very first page, and had a fun time relating to it all the way through.'" [name]="'Onkartej'" [description]="'40'" style="width: 100%;" ></app-review-card>
  </mdb-carousel-item>
</mdb-carousel>
</div>
