<div class="best-features0 bg-main" style="padding-top: 120px; padding-bottom: 90px;">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-12">
          <div class="section-heading">
            <h2>About Sixteen Clothing</h2>
          </div>
        </div> -->

      <div class="col-md-6">
        <div class="right-image ml-5">
          <img src="assets/images/art-to-healing.jpeg" style="max-width: 70%;" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="left-content">
          <h2 class="text-white" >Art To Healing</h2>
          <p class="text-white" >Art to Healing’s mission is to create a world free of slavery, exploitation and abuse.

            Art to Healing provides trauma-informed care and mental health support of the highest quality. This vital
            support helps women and children recover from their traumatic pasts, build resilience and imagine new
            possibilities for their lives, that are free from fear, abuse and exploitation.
          </p>

          <a routerLink='/about-us' class="filled-button">Read More</a>
        </div>
      </div>

    </div>
  </div>
</div>
