  <div class="product-item">
    <a href="#"><img src="assets/images/hippos.jpeg" alt=""></a>
    <div class="down-content" style="background-color: #F7C10E;">
      <a href="#"  ><h4 style="color: #0D2321;" >Tittle </h4></a>
      <h6>$25.75</h6>
      <p style="color: #343E40;">Lorem ipsume dolor sit amet, adipisicing elite.</p>
      <ul class="stars">
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
      </ul>
      <span>Reviews (24)</span>
    </div>
  </div>
