<!-- Perma Section -->
<div class="best-features" style="background-color: #F7C10E; margin: 0; padding-top: 50px;" >
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-12">
          <div class="section-heading">
            <h2>About Sixteen Clothing</h2>
          </div>
        </div> -->

      <div class="col-md-6">
        <div class="right-image ml-5">
          <img src="assets/images/prema.jpeg" style="max-width: 70%;" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="left-content">
          <h2>About the author</h2>
          <p>Raised by her single elderly father in the bogan town of Bundaberg, Queensland, Prema was a restless child;
            wild and curly like her hair. Prema could never sit still for long and couldn’t seem to behave at school.
            When she discovered an old typewriter at 9 years old, she found a way to channel her imagination and
            frustrated self-expression into long fantastic stories and dreamed of one day publishing books for real.

            Amidst many adventures and long years of wandering and wondering, Prema studied art therapy,
            process-oriented psychology, group facilitation and is now completing her masters degree in Conflict
            Resolution and Management.

          </p>
          <!-- <ul class="featured-list">
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">Consectetur an adipisicing elit</a></li>
              <li><a href="#">It aquecorporis nulla aspernatur</a></li>
              <li><a href="#">Corporis, omnis doloremque</a></li>
              <li><a href="#">Non cum id reprehenderit</a></li>
            </ul> -->
          <a routerLink="/about-us"  class="filled-button">Read More</a>
        </div>
      </div>

    </div>
  </div>
</div>





<!-- Polina Section -->
<div class="best-features" style="background-color: #F7C10E; margin: 0; padding-top: 50px;" >
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-12">
          <div class="section-heading">
            <h2>About Sixteen Clothing</h2>
          </div>
        </div> -->
      <div class="col-md-6">
        <div class="left-content">
          <h2>About the illustrator: Polina Hrytskova</h2>
          <p>I draw children’s illustrations because I still feel like a child. I grew up in a family of music teachers,
            without a father, in a small provincial town. I loved spending time in nature, climbing trees and playing
            with flowers, watching animals, birds and insects.

            I have been drawing since early childhood. I graduated from college and worked as a teacher, designer,
            painted walls, painted icons, portraits, wrote poetry, sewed shoes in a factory,

          </p>
          <!-- <ul class="featured-list">
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">Consectetur an adipisicing elit</a></li>
              <li><a href="#">It aquecorporis nulla aspernatur</a></li>
              <li><a href="#">Corporis, omnis doloremque</a></li>
              <li><a href="#">Non cum id reprehenderit</a></li>
            </ul> -->
          <a routerLink="/about-us" class="filled-button">Read More</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-image ml-5">
          <img src="assets/images/polina.jpeg" style="max-width: 70%;" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
