<!-- Perma Section -->
<div class="best-features" style="background-color: #F7C10E; margin: 0; padding-top: 50px;">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-12">
          <div class="section-heading">
            <h2>About Sixteen Clothing</h2>
          </div>
        </div> -->

      <div class="col-md-6">
        <div class="right-image ml-5">
          <img src="assets/images/prema.jpeg" style="max-width: 70%;" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="left-content">
          <h2>About the author</h2>
          <p>As a child, books for me were an escape from a world into which I didn’t fit; imagination was a refuge and
            ally. When I was a kid I couldn’t sit still and I was always in trouble, and it seemed to others that I was
            a nuisance at school – but I just had many wriggly creatures inside me that called for attention. As a
            10-year-old child I was often sent to long periods of isolation in a small room for hours on end, and
            sometimes whole days. Because of this, I grew up believing something was wrong with me. Now I know much
            better, and I wish for all children to know and have their wholeness recognised and reflected into their
            world. My way is through the telling of story.
            <br>
            <br>
            Dichotomous Hippopotamus might be one hippo split in two – but along the way he discovers what is true – he
            sees his wholeness. I now know and love my inner creatures – they help me to play and they show me the way
            to what is true. These creatures are my teachers, and I am passionate about using the wisdom of the
            creatures to tell stories in a way that is fun, imaginative, and offers aspects of self-discovery and
            insight in a way that children and adults can delight in.
            <br>
            <br>
            Dichotomous Hippopotamus and the Half-and-Half Giraffe is the first book I have published, and is the first
            of many in a series of fun stories that reflect aspects of our inner world.
            <br>
            <br>
            Look out for my next book: “The Irrelevant Elephant and the Horse of Remorse”!


          </p>
          <!-- <ul class="featured-list">
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">Consectetur an adipisicing elit</a></li>
              <li><a href="#">It aquecorporis nulla aspernatur</a></li>
              <li><a href="#">Corporis, omnis doloremque</a></li>
              <li><a href="#">Non cum id reprehenderit</a></li>
            </ul> -->
          <a routerLink="/about-us" class="filled-button">Read More</a>
        </div>
      </div>

    </div>
  </div>
</div>





<!-- Polina Section -->
<div class="best-features" style="background-color: #F7C10E; margin: 0; padding-top: 50px;">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-12">
          <div class="section-heading">
            <h2>About Sixteen Clothing</h2>
          </div>
        </div> -->
      <div class="col-md-6">
        <div class="left-content">
          <h2>About the illustrator: Polina Hrytskova</h2>
          <p>I draw children's illustrations because I still feel like a child. I grew up in a family of music teachers, without a father, in a small provincial town. I loved spending time in nature, climbing trees and playing with flowers, watching animals, birds and insects.
<br>
<br>
            I have been drawing since early childhood. I graduated from college and worked as a teacher, designer, painted walls, painted icons, portraits, wrote poetry, sewed shoes in a factory, played keyboards in a rock band, was fond of woodcarving, sang in a church choir ...I like extreme entertainment: riding a motorcycle, parachuting, flying on a single-engine plane.
    <br>
    <br>
            I have performed in Ukraine, Poland, Mexico and Russia with sand animation. I worked as a stage artist in America, in Hollywood, on the show "America's Got Talent" (backstage) and I created stage images, stage designs and decorations for different artists. I also collaborate with magicians, created drawings of illusion equipment, and design illusion devices (I once drew for David Copperfield!)
        <br>
        <br>
            October 23rd 2020 I got married! I really want a lot of children, so far this is my greatest desire.
            <br>
            <br>
            To contact me or see more of my work, please find me at:
            <br>
            <br>
            <a href="https://www.facebook.com/visualartstudio.pro">My Facebook</a>
            <br>
            <a href="https://www.instagram.com/visualart.pro">My Instagram</a>

          </p>
          <a routerLink="/about-us" class="filled-button">Read More</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-image ml-5">
          <img src="assets/images/polina.jpeg" style="max-width: 70%;" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
