<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <!-- <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide"> -->
      <img class="d-block w-100" src="assets/images/family-scaled.jpg" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive p-4"
        style="font-family: 'Freckle Face', cursive!important; background-color: rgba(0, 0, 0, 0.7); border-radius: 20px;  color: rgb(196, 1, 63);
        text-shadow: rgb(255 255 255) 3px 3px 4px; ">
        Dichotomous Hippopotamus and the Half-and-Half Giraffe
      </h3>
      <!-- <p style="font-family: cursive, fantasy;">First text</p> -->
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <!-- <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide"> -->
      <img class="d-block w-100" src="assets/images/slider2.jpeg" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption" style="top: 50%;
    transform: translateY(-50%);">
      <h3 class="h3-responsive p-4"
        style="font-family: 'Freckle Face', cursive!important; background-color: rgba(0, 0, 0, 0.7); border-radius: 20px;   color: rgb(196, 1, 63);
        text-shadow: rgb(255 255 255) 3px 3px 4px;">
        “Dichotomous Hippopotamus was one hippo split in two -
        Half of him was pink and the other half was blue”
      </h3>
      <!-- <p style="font-family: cursive, fantasy;">First text</p> -->
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <!-- <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide"> -->
      <img class="d-block w-100" src="assets/images/slider3.jpeg" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption" style="top: 50%;
    transform: translateY(-50%);">
      <h3 class="h3-responsive p-4"
      style="font-family: 'Freckle Face', cursive!important; background-color: rgba(0, 0, 0, 0.7); border-radius: 20px;   color: rgb(196, 1, 63);
      text-shadow: rgb(255 255 255) 3px 3px 4px;">
        “Half of him followed the wishes of the thoughts
        up in his head, the other half took directions from his curly tail instead”
      </h3>
      <!-- <p style="font-family: cursive, fantasy;">First text</p> -->
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <!-- <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide"> -->
      <img class="d-block w-100" src="assets/images/yello-bg.jpg" alt="Second slide">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption" style="top: 50%;
    transform: translateY(-50%);">
      <h3 class="h3-responsive p-4"
      style="font-family: 'Freckle Face', cursive!important; background-color: rgba(0, 0, 0, 0.7); border-radius: 20px;   color: rgb(196, 1, 63);
      text-shadow: rgb(255 255 255) 3px 3px 4px; ">
        “This is the story of how one
        hippo got out of a mud pit full of doubt, with a little help and a laugh from a creature called, the
        Half-and-Half Giraffe”
      </h3>
    </div>
  </mdb-carousel-item>
  <!-- <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="assets/images/orange-bg.jpg" alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption" style="top: 50%;
    transform: translateY(-50%);">
      <h3 class="h3-responsive" style="font-family: 'Freckle Face', cursive!important;">“This is the story of how one
        hippo got out of a
        mud pit full of doubt, with a little help and a laugh from a creature called ‘The Half-and-Half Giraffe"
      </h3>
    </div>
  </mdb-carousel-item> -->
</mdb-carousel>
