.carousel-text {
  font-size: 25px !important;
}

.carousel-text-place {
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 620px) {
  .carousel-text {
    font-size: 15px !important;
  }

  .carousel-text-place {
    top: 0;
    transform: none;
  }
}
