<header class="">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <!-- <a class="navbar-brand" href="index.html"><h2>Sixteen <em>Clothing</em></h2></a> -->
      <a class="navbar-brand" href="index.html"><img src="assets/images/logo.jpeg"
      style="
        max-width: 200px;
        margin-top: 0px;"
        alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!--          Admin menu-->
          <li class="nav-item" [ngClass]="isCurrentRoute('/admin/products') ? 'active': '' " *ngIf="isAdmin">
            <a class="nav-link" routerLink="/admin/products">All Products</a>
          </li>
          <li class="nav-item" [ngClass]="isCurrentRoute('/admin/categories') ? 'active': '' " *ngIf="isAdmin">
            <a class="nav-link" routerLink="/admin/categories">All Categories</a>
          </li>
          <li class="nav-item" [ngClass]="isCurrentRoute('/admin/orders') ? 'active': '' " *ngIf="isAdmin">
            <a class="nav-link" routerLink="/admin/orders">All Orders</a>
          </li>
          <!--          Normal users menu-->
          <!--          <section *ngIf="!isAdmin">-->
          <li class="nav-item" [ngClass]="isCurrentRoute('/') ? 'active': '' " *ngIf="!isAdmin">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item" *ngIf="!isAdmin">
            <a class="nav-link" [ngClass]="isCurrentRoute('/products') ? 'active': '' " routerLink="/products">Shop
            </a>
          </li>
          <li class="nav-item" *ngIf="!isAdmin">
            <a class="nav-link" [ngClass]="isCurrentRoute('/about-us') ? 'active': '' " routerLink="/about-us">About
              Us</a>
          </li>
          <li class="nav-item" *ngIf="!isAdmin">
            <a class="nav-link" [ngClass]="isCurrentRoute('/contact-us') ? 'active': '' "
              routerLink="/contact-us">Contact Us</a>
          </li>
          <!--          </section>-->
          <li *ngIf="currentUser" class="nav-item"><a (click)="logout()" class="nav-link">Logout</a></li>

        </ul>
      </div>
    </div>
  </nav>
</header>
