<div class="latest-products py-5" style="background-color: #0D2321; margin: 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Latest Products</h2>
          <a href="products.html">view all products <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <app-product-card></app-product-card>
      </div>
      <div class="col-md-4">
        <app-product-card></app-product-card>
      </div>
      <div class="col-md-4">
        <app-product-card></app-product-card>
      </div>
    </div>
  </div>
</div>
