<!-- Page Content -->
<div class="page-heading about-heading header-text">
  <div class="container" style="background-color: rgba(0, 0, 0, 0.5); border-radius: 50px;">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4 class="m-2">about us</h4>
          <h2>Prema Nishan Stories</h2>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="best-features about-features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Our Background</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-image">
          <img src="assets/images/family.jpeg" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="left-content">
          <h4>Who we are &amp; What we do?</h4>
          <p>We are a store based in AU that is specialized in story books for kids</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="team-members bg-main p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2 class="text-white">Our Team Members</h2>
        </div>
      </div>
      <div>
        <app-about-authors></app-about-authors>
      </div>
      <!-- <div class="col-md-4">
        <div class="team-member">
          <div class="thumb-container">
            <img src="assets/images/prema.jpeg" alt="">
            <div class="hover-effect">
              <div class="hover-content">
                <ul class="social-icons">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="down-content">
            <h4>Prema Nishan</h4>
            <span>Founder</span>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div> -->
      <!-- <div class="col-md-4">
        <div class="team-member">
          <div class="thumb-container">
            <img src="assets/images/polina.jpeg" alt="">
            <div class="hover-effect">
              <div class="hover-content">
                <ul class="social-icons">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="down-content">
            <h4>Polina Hrytskova</h4>
            <span>Illustrator</span>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>


<!-- <div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="service-item">
          <div class="icon">
            <i class="fa fa-gear"></i>
          </div>
          <div class="down-content">
            <h4>Product Management</h4>
            <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat.</p>
            <a href="#" class="filled-button">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <div class="icon">
            <i class="fa fa-gear"></i>
          </div>
          <div class="down-content">
            <h4>Customer Relations</h4>
            <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat.</p>
            <a href="#" class="filled-button">Details</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <div class="icon">
            <i class="fa fa-gear"></i>
          </div>
          <div class="down-content">
            <h4>Global Collection</h4>
            <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat.</p>
            <a href="#" class="filled-button">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="happy-clients">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Happy Partners</h2>
        </div>
      </div>
      <!-- <app-art-to-healing></app-art-to-healing> -->
      <div class="best-features0 bg-main" style="padding-top: 90px; padding-bottom: 20px;">
        <div class="container">
          <div class="row">
            <!-- <div class="col-md-12">
                <div class="section-heading">
                  <h2>About Sixteen Clothing</h2>
                </div>
              </div> -->

            <div class="col-md-6">
              <div class="right-image ml-5">
                <img src="assets/images/art-to-healing.jpeg" style="max-width: 70%;" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="left-content">
                <h2 class="text-white">Art To Healing</h2>
                <p class="text-white">Art to Healing’s mission is to create a world free of slavery, exploitation and
                  abuse.

                  Art to Healing provides trauma-informed care and mental health support of the highest quality. This
                  vital
                  support helps women and children recover from their traumatic pasts, build resilience and imagine new
                  possibilities for their lives, that are free from fear, abuse and exploitation.
                </p>

              </div>
            </div>

          </div>
          <div class="text-white row m-5">Art to Healing’s mission is to create a world free of slavery, exploitation
            and abuse.

            Art to Healing provides trauma-informed care and mental health support of the highest quality. This vital
            support helps women and children recover from their traumatic pasts, build resilience and imagine new
            possibilities for their lives, that are free from fear, abuse and exploitation.

            The support of trained mental health and trauma professionals, community support and a solid foundation of
            safety, help women and children to rebuild and create resilient lives forever free from slavery.

            $1.50 from every copy of this book supports the work of Art to Healing. For more information about Art to
            Healing, or to make a donation, please visit

            https://www.arttohealing.org/
          </div>

        </div>
      </div>

      <!-- <div class="col-md-12">
        <div class="owl-clients owl-carousel">
          <div class="client-item">
            <img src="assets/images/client-01.png" alt="1">
          </div>

          <div class="client-item">
            <img src="assets/images/client-01.png" alt="2">
          </div>

          <div class="client-item">
            <img src="assets/images/client-01.png" alt="3">
          </div>

          <div class="client-item">
            <img src="assets/images/client-01.png" alt="4">
          </div>

          <div class="client-item">
            <img src="assets/images/client-01.png" alt="5">
          </div>

          <div class="client-item">
            <img src="assets/images/client-01.png" alt="6">
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
