<!-- Footer -->
<footer class="page-footer font-small rgba-black-strong pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Perma Stories</h5>
        <p class="white-text">Your place to best kids stories</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Home</a>
          </li>
          <li>
            <a href="#!">About</a>
          </li>
          <li>
            <a href="#!">Shop</a>
          </li>
          <li>
            <a href="#!">Reviews</a>
          </li>
          <li>
            <a href="#!">Illustrations</a>
          </li>
          <li>
            <a href="#!">Contact</a>
          </li>
        </ul>
      </div>



      <div class="col-md-3 mb-md-0 mb-3">

        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="white-text">
          <mdb-icon fas icon="home" class="mr-3 white-text"></mdb-icon> 61 Hartwood Street, Kew East VIC, Australia 3102
        </p>
        <p class="white-text">
          <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> itsallbrahma@hotmail.com
        </p>
        <p class="white-text" >
          <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> 0439 691 834
        </p>
        <p class="white-text" >
          <mdb-icon fas icon="print" class="mr-3"></mdb-icon>ABN: 87 402 324 974
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://webside.com.au/"> WebSide</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
